<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
</head>
<body>
    <h1>Лябина, there's no page here!</h1>
    <h3>Але ти взмозі допомогти...</h3>
    <h2>Збір Сірёжі на новий вєльчик - <b><a href="https://www.getcoverletter.com/media/uploads/zinnia/2020/12/18/group-504612x.png">туточки</a></b></h2>
    <p>
        Мені дуже прикро, Лябіку. Але, сторінка яку ти шукаєш не існує!
    </p>
    <button onclick="window.history.back()" type="button">Go back</button>
</body>
</html>
